@use '../../styles/Mixins.scss';
@use '../../styles/Variables.scss';


.our-preferences-section{
    
    @include Mixins.center-flex();
    flex-direction: column;
    .preferences-section-wrapper{
        padding: 1.8rem 16.7rem;
        width: 100%;
        max-width: 38.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .preferences-section-title{
            margin: 0 auto;
            color: Variables.$header-color;
        }
     
    }
}