$anouncement-background-color:#0354a3;
$anouncement-color:white;
$sections-wrapper-max-width:63rem;
$header-color: rgba(14, 27, 77, 1);

// все переменные которые отвечают за размер чего либо потому что мне надо будет пересчитать для другого rem
$preferneces-img-margin:0.7rem;