@use '../../styles/Variables.scss';
@use '../../styles/Mixins.scss';

.header{

    @include Mixins.center-flex();
    flex-direction: row;

    .header-wrapper{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 63rem;

        .header-user-actions{
            @include Mixins.flex-space-between();
            align-items: center;
            .user-actions-controls{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 6.7rem;
            }
        }



        .header-navbar{
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 100%;
            padding: 0;

            .header-navbar-item{
                padding: 0.6rem;

                .item-arrow{
                    margin-left: 0.45rem;
                }
                
            }

            .header-navbar-item:hover{
                color: Variables.$header-color;
                cursor: pointer;
                text-decoration: underline;
            }



            .header-navbar-item:first-child{
                padding-left:0;
            }
        }
    }

}