.hero-section {
    width: 100vw;  
    height: 32rem; 
    background-image: url("slide1.png");
    background-size: cover; /* Масштабирует изображение, чтобы покрыть всю область */
    background-repeat: no-repeat; /* Предотвращает повторение изображения */
    background-position: center; /* Центрирует изображение */
}

